/* --- MOBILE STYLES --- */

.landing .name {
  font-size: 48px;
}
.landing .description {
  font-size: 26px;
}

.landing .ctaButtons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.landing .ctaButtons .btn {
  text-decoration: none;
}

.landing .ctaButtons .btn-secondary {
  background-color: transparent;
  border: 1px solid var(--hl-color);
  color: var(--text-color);
}

.landing .ctaButtons .btn-secondary:hover {
  background-color: rgba(0, 158, 102, 0.15);
}

.landingImage {
  right: 0px;
}

/* .landing .socialIcons {
  display: none;
} */

.landing .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 750px) {
  .landing .name {
    font-size: 70px;
  }

  .landing .description {
    font-size: 32px;
  }

  .landing .ctaButtons {
    flex-direction: row;
    justify-content: center;
  }

  .landingImage {
    bottom: 0;
    right: 80px;
  }

  .landing .socialIcons {
    flex-direction: column;
  }
}
